@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #0b0d17;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  color: #d0d6f9;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;

  @media (max-height: 900px) and (orientation: portrait) {
    height: max-content;
    overflow-y: auto;
  }
  
  @media (max-height: 750px) and (orientation: landscape) {
    height: max-content;
    overflow-y: auto;
  }

  &.home {
    background-image: url('/background/home/desktop.jpg');

    @media (max-width: 768px) {
      background-image: url('/background/home/tablet.jpg');
    }

    @media (max-width: 480px) {
      background-image: url('/background/home/mobile.jpg');
    }
  }

  &.destination {
    background-image: url('/background/destination/desktop.jpg');

    @media (max-width: 768px) {
      background-image: url('/background/destination/tablet.jpg');
    }

    @media (max-width: 480px) {
      background-image: url('/background/destination/mobile.jpg');
    }
  }

  &.crew {
    background-image: url('/background/crew/desktop.jpg');

    @media (max-width: 768px) {
      background-image: url('/background/crew/tablet.jpg');
    }
  }

  &.technology {
    background-image: url('/background/technology/desktop.jpg');

    @media (max-width: 768px) {
      background-image: url('/background/technology/tablet.jpg');
    }

    @media (max-width: 480px) {
      background-image: url('/background/technology/mobile.jpg');
    }
  }
}

div#root {
  height: 100%;
}
